<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d %5p %40.40c:%4L - %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>valuation-app.log</file>
		<encoder>
			<Pattern>%d %5p %40.40c:%4L - %m%n</Pattern>
		</encoder>
	</appender>

	<appender name="METRICS" class="ch.qos.logback.core.FileAppender">
		<file>metrics.log</file>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</encoder>
	</appender>
	
	<logger name="com.acuo" level="info"/>
	<logger name="com.acuo.valuation.providers.clarus.services" level="error"/>
	<logger name="com.acuo.persist.services.TradeServiceImpl" level="debug"/>

	<logger name="org.neo4j.ogm.drivers.bolt.request" level="error"/>
	<logger name="org.neo4j.ogm.drivers.bolt.response" level="error"/>
	<logger name="org.neo4j.ogm.context" level="error"/>

	<logger name="com.acuo.metrics" level="DEBUG" additivity="false">
		<appender-ref ref="METRICS"/>
	</logger>

	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>